body {
    background-color:bisque;
    font-family: Arial, sans-serif;
}

#header {
    background-color: #0e373d;
    color: white;
    padding: 20px 10px;
    text-align: center;
}

#header nav{
    list-style-type: none;
    text-align: center
}

#header nav {
    display: inline-block;
    margin: 0 15px;
}

#header nav a{
    color: beige;
    text-decoration: none;
}

#header nav a:hover {
    color: #f0e68c;
    text-decoration: underline;

}

#header h1{
    background-color: #0e373d;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin: 20px auto;
    border-radius: 5px;
    width: 100%;
}



#logo{
    width: 150px;
    height: 150px;
    border-radius: 70%;
    border: 2px solid #0e373d;

}

#headings {
    background-color: #0e373d;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    width: 100%;
}

#sc {
    background-color: #0e373d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
    width: 100%;
}

#list {
    background-color: #0e373d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
    width: 100%;

}

#list ul {
    list-style-type: none;
    padding: 0;
}

#list li {
    background-color: #0e373d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin: 5px auto;
    width: 100%;
}

#list li:hover {
    background-color: #f0e68c;
    color: #0e373d;
    cursor: pointer;
}

#Unorderedlist {
    background-color: #1b5b65;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
    width: 100%;
}

#orderedlist {
    background-color: #1b5b65;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
    width: 100%;
}




#definationlist {
    background-color: #1b5b65;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
    width: 100%;
}


#tables {
    background-color: #1b5b56;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
    width: 100%;
    margin: 20px auto;
   
}

#hyperlinks {
    background-color: #0e373d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
    width: 100%;
}
#images {
    background-color: #0e373d;
    color: white;
    padding: 0;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #1b5b65;      
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

th, td {
    border: 1px solid #0e373d;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #0e373d;
    color: white;
}
td {
    background-color: #1b5b65;
    color: white;
}

























#footer {
    background-color: #0e373d;
    color: rgb(147, 138, 138);
    padding: 10px 0;
    text-align: center;
}